@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .my-container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}


* {
    font-family: 'Montserrat', sans-serif;
}